.container-login-form {
  background-color: rgb(45, 45, 45);
  padding: 2rem;
  border-radius: 12px;
  color: rgb(255, 255, 255);
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 0 10px rgb(31, 143, 255);
}

.container-login-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.container-login-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container-login-form label {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.container-login-form input {
  padding: 0.5rem;
  border: none;
  border-radius: 8px;
  align-self: center;
  background-color: #bdbdbd;
  color: #000000;
  font-size: 1rem;
  width: 100%;
}

.container-login-form button {
  margin-top: 1rem;
  padding: 0.7rem;
  background-color: #1e90ff;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  align-self: center;
  cursor: pointer;
  width: 50%;
}

.container-login-form button:hover {
  background-color: #004f9f;
}
.error-text {
  background-color: #ff4d4d22;
  color: #ff4d4d;
  font-size: 0.95rem;
  padding: 0.4rem 0.6rem;
  border-radius: 12px;
  margin-top: 0.4rem;
  width: 100%;
  box-sizing: border-box;
}

.input-error::placeholder {
  color: #ff4d4d;
  font-style: italic;
}

